<script>
  document.addEventListener("DOMContentLoaded", (event) =>{
    window.createSocket("<%= @topic.id %>")
  }) 
</script>
<.header>
  <%= @topic.title %>
  <:subtitle><%= @topic.description %></:subtitle>
  <:actions>
    <.link href={~p"/topics/#{@topic}/edit"}>
      <.button>Edit topic</.button>
    </.link>
  </:actions>
</.header>

<div id="post">
  <.button> Post! </.button>
</div>

<!-- <.list>
  <:item title="Title"><%= @topic.title %></:item>
  <:item title="Description"><%= @topic.description %></:item>
</.list> -->

<.back navigate={~p"/topics"}>Back to topics</.back>
